<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-record-add">
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label is-required">记录者工号学号：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="recordNumber" class="form-control" type="text" required>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">记录日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="recordDate" class="form-control" placeholder="yyyy-MM-dd" th:value="${date}" type="text" readonly required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">测试时间：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <label for="tempAfternoon1">
                            <input type="radio" id="tempAfternoon1" name="tempAfternoon" value="0" checked>
                            上午</label>
                    </div>
                    <div class="radio-box">
                        <label for="tempAfternoon2">
                            <input type="radio" id="tempAfternoon2" name="tempAfternoon" value="1">
                            下午</label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">测试温度：</label>
                <div class="col-sm-8">
                    <input name="tempMorning" class="form-control" type="text" placeholder="如37.1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否健康：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <label for="health1">
                            <input type="radio"  id="health1" name="health" value="0" checked>
                            健康</label>
                    </div>
                    <div class="radio-box">
                        <label for="health2">
                            <input type="radio" id="health2" name="health" value="1">
                            不健康</label>
                    </div>
                    <span>超过37.3°即为不健康</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否发热：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <label for="fever1">
                            <input type="radio" id="fever1" name="fever" value="0" checked>
                            否</label>
                    </div>
                    <div class="radio-box">
                        <label for="fever2">
                            <input type="radio" id="fever2" name="fever" value="1">
                            是</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否干咳：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <label for="cough1">
                            <input type="radio" id="cough1" name="cough" value="0" checked>
                            否</label>
                    </div>
                    <div class="radio-box">
                        <label for="cough2">
                            <input type="radio" id="cough2" name="cough" value="1">
                            是</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否乏力：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <label for="weak1">
                            <input type="radio" id="weak1" name="weak" value="0" checked>
                            否</label>
                    </div>
                    <div class="radio-box">
                        <label for="weak2">
                            <input type="radio" id="weak2" name="weak" value="1">
                            是</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">其他：</label>
                <div class="col-sm-8">
                    <textarea id="remark" name="remark" class="form-control"></textarea>
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">0无咳嗽1有咳嗽：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="recordCough" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">证明人：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="referencesName" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">同居0无咳嗽1有咳嗽：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="otherCough" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">同居人姓名：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="otherName" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">同居人情况：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="otherSituation" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">0无离开1有离开：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="outsideLife" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">离开事由：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="outsideReason" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="row" th:if="${show_btn} == true">
                <div class="col-sm-offset-5 col-sm-10">
                    <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/record"
        $("#form-record-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-record-add').serialize());
            }
        }

        // $("input[name='recordDate']").datetimepicker({
        //     format: "yyyy-mm-dd",
        //     minView: "month",
        //     autoclose: true
        // });
    </script>
</body>
</html>