<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input name="deptId" type="hidden" th:value="${user.deptId}" id="treeId"/>
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>姓名：</p>
                                <input type="text" name="user.userName"/>
                            </li>

                            <li>
                                <p style="width: 94px;">学院（部门）：</p>
                                <div class="input-group" style="width: 170px;">
                                    <input name="dept.deptName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择归属部门" class="form-control" required>
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </li>
                            <li class="select-time">
                                <label>记录时间： </label>
                                <input type="text" class="time-input" id="startTime" th:value="${date}" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <p>体温高于37.3：</p>
                                <select name="tempMorning" id="tempMorning">
                                    <option value="">--请选择--</option>
                                    <option value="1" >是</option>
                                    <option value="0">否</option>
                                </select>
                            </li>
                            <li>
                                <p>教职工/学生：</p>
                                <select name="user.student" >
                                    <option value="0" selected>教职工</option>
                                    <option value="1" >学生</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:record:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:record:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:record:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:record:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:record:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:record:remove')}]];
        var prefix = ctx + "system/record";

        $(function() {
            var options = {
                url: prefix + "/bumens",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export?excelType=bumen",
                exportWordUrl: prefix + "/export?type=word",
                modalName: "记录",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'recordId', 
                    title : '记录编号',
                    visible: false
                },
                {
                    field : 'recordNumber', 
                    title : '证件号'
                },
                    {
                        field : 'user.userName',
                        title : '姓名'
                    },
                    {
                        field : 'user.dept.deptName',
                        title : '部门'
                    },
                {
                    field : 'recordDate', 
                    title : '记录日期'
                },
                {
                    field : 'tempMorning', 
                    title : '上午温度'
                },
                {
                    field : 'tempAfternoon', 
                    title : '下午温度'
                },
                {
                    field : 'health',
                    title : '是否健康',
                    formatter: function(value, row, index) {
                        return value == false ? '是' : '否';
                    }
                },
                {
                    field : 'fever',
                    title : '是否发热',
                    formatter: function(value, row, index) {
                        return value == true ? '是' : '否';
                    }
                },
                {
                    field : 'cough',
                    title : '是否干咳',
                    formatter: function(value, row, index) {
                        return value == true ? '是' : '否';
                    }
                },
                {
                    field : 'weak',
                    title : '是否乏力',
                    formatter: function(value, row, index) {
                        return value == true ? '是' : '否';
                    }
                },
                {
                    field : 'remark',
                    title : '目前所在地'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.table.exportWord1(\'system/record/exportSelf?type=word&other='+row.recordNumber+'\')"><i class="fa fa-edit"></i>导出Word</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.recordId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.recordId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        /*用户管理-新增-选择部门树*/
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "register/selectDeptTree/" + deptId;
            var options = {
                title: '选择部门',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }

        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                layer.close(index);
            }
        }
    </script>
</body>
</html>