<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gxuwz.project.system.record.mapper.RecordMapper">
    
    <resultMap type="Record" id="RecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="recordNumber"    column="record_number"    />
        <result property="recordDate"    column="record_date"    />
        <result property="tempMorning"    column="temp_morning"    />
        <result property="tempAfternoon"    column="temp_afternoon"    />
        <result property="recordCough"    column="record_cough"    />
        <result property="referencesName"    column="references_name"    />
        <result property="otherCough"    column="other_cough"    />
        <result property="otherName"    column="other_name"    />
        <result property="otherSituation"    column="other_situation"    />
        <result property="outsideLife"    column="outside_life"    />
        <result property="outsideReason"    column="outside_reason"    />
        <result property="health"    column="health"    />
        <result property="fever"    column="fever"    />
        <result property="cough"    column="cough"    />
        <result property="weak"    column="weak"    />
        <result property="remark"    column="remark"    />
        <association property="user" column="record_number"
                     javaType="User"
                     select="edu.gxuwz.project.system.user.mapper.UserMapper.selectUserByLoginName"
                     />
    </resultMap>

    <sql id="selectRecordVo">
        select record_id, record_number, record_date, temp_morning, temp_afternoon,
        record_cough, references_name, other_cough, other_name, other_situation,
        outside_life, outside_reason ,health, fever,cough,weak ,remark from sys_record
    </sql>

    <select id="selectRecordList" parameterType="Record" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        <where>  
            <if test="recordNumber != null  and recordNumber != ''"> and record_number like concat('%', #{recordNumber}, '%')</if>
            <if test="recordDate != null "> and record_date = #{recordDate}</if>
            <if test="tempMorning != null  and tempMorning != ''"> and temp_morning = #{tempMorning}</if>
            <if test="tempAfternoon != null  and tempAfternoon != ''"> and temp_afternoon = #{tempAfternoon}</if>
            <if test="recordCough != null  and recordCough != ''"> and record_cough = #{recordCough}</if>
            <if test="referencesName != null  and referencesName != ''"> and references_name like concat('%', #{referencesName}, '%')</if>
            <if test="otherCough != null  and otherCough != ''"> and other_cough = #{otherCough}</if>
            <if test="otherName != null  and otherName != ''"> and other_name like concat('%', #{otherName}, '%')</if>
            <if test="otherSituation != null  and otherSituation != ''"> and other_situation = #{otherSituation}</if>
            <if test="outsideLife != null  and outsideLife != ''"> and outside_life = #{outsideLife}</if>
            <if test="outsideReason != null  and outsideReason != ''"> and outside_reason = #{outsideReason}</if>
            <if test="health != null ">and health = #{health}</if>
            <if test="fever != null">and fever = #{fever}</if>
            <if test="cough != null">and cough = #{cough}</if>
            <if test="weak != null">and weak = #{weak}</if>
        </where>
    </select>

    <select id="bumen" parameterType="Record" resultMap="RecordResult">
        select record_id, record_number, record_date, temp_morning, temp_afternoon,
        record_cough, references_name, other_cough, other_name, other_situation,
        outside_life, outside_reason ,health, fever,cough,weak ,r.remark from sys_record r
        left join sys_user u on r.record_number = u.login_name
        where u.dept_id = #{deptId} and u.student = false
        <if test="recordNumber != null  and recordNumber != ''"> and record_number like concat('%', #{recordNumber}, '%')</if>
        <if test="recordDate != null "> and record_date = #{recordDate}</if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(r.record_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(r.record_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="tempAfternoon != null  and tempAfternoon != ''"> and r.temp_afternoon = #{tempAfternoon}</if>
        <if test="recordCough != null  and recordCough != ''"> and r.record_cough = #{recordCough}</if>
        <if test="referencesName != null  and referencesName != ''"> and r.references_name like concat('%', #{referencesName}, '%')</if>
        <if test="otherCough != null  and otherCough != ''"> and r.other_cough = #{otherCough}</if>
        <if test="otherName != null  and otherName != ''"> and r.other_name like concat('%', #{otherName}, '%')</if>
        <if test="otherSituation != null  and otherSituation != ''"> and r.other_situation = #{otherSituation}</if>
        <if test="outsideLife != null  and outsideLife != ''"> and r.outside_life = #{outsideLife}</if>
        <if test="outsideReason != null  and outsideReason != ''"> and r.outside_reason = #{outsideReason}</if>
        <if test="health != null ">and r.health = #{health}</if>
        <if test="fever != null">and r.fever = #{fever}</if>
        <if test="cough != null">and r.cough = #{cough}</if>
        <if test="weak != null">and r.weak = #{weak}</if>
        <choose>
            <when test="tempMorning == null  or tempMorning == '' "></when>
            <when test="tempMorning != null  and tempMorning == 1 ">and( temp_morning > 37.3 or temp_afternoon > 37.3)</when>
            <when test="tempMorning != null  and tempMorning == 0 ">and temp_morning &lt;= 37.3 and temp_afternoon &lt;= 37.3</when>
            <otherwise>and temp_morning = #{tempMorning}</otherwise>
        </choose>
    </select>

    <select id="geren" parameterType="Record" resultMap="RecordResult">
        select record_id, record_number, record_date, temp_morning, temp_afternoon,
        record_cough, references_name, other_cough, other_name, other_situation,
        outside_life, outside_reason ,health, fever,cough,weak ,remark from sys_record r
        where r.record_number = #{recordNumber}
    </select>

    <select id="xuesheng" parameterType="Record" resultMap="RecordResult">
        select record_id, record_number, record_date, temp_morning, temp_afternoon,
        record_cough, references_name, other_cough, other_name, other_situation,
        outside_life, outside_reason ,health, fever,cough,weak ,remark from sys_record r
        where r.record_number in (
        select u.login_name from sys_user u
        left join sys_user_role r on u.user_id = r.user_id
        where r.role_id = 100
            <if test="dept.deptId != null and dept.deptId != 0">and u.dept_id = #{dept.deptId}</if>
            <if test="user.zyName != null and user.zyName != ''">and u.zy_name = #{user.zyName}</if>
            <if test="user.gradeId != null and user.gradeId != ''">and u.grade_id = #{user.gradeId}</if>
        )
        <if test="recordNumber != null  and recordNumber != ''"> and record_number like concat('%', #{recordNumber}, '%')</if>
        <if test="recordDate != null "> and record_date = #{recordDate}</if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(r.record_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(r.record_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <choose>
            <when test="tempMorning == null  or tempMorning == '' "></when>
            <when test="tempMorning != null  and tempMorning == 1 ">and( temp_morning > 37.3 or temp_afternoon > 37.3)</when>
            <when test="tempMorning != null  and tempMorning == 0 ">and temp_morning &lt;= 37.3 and temp_afternoon &lt;= 37.3</when>
            <otherwise>and temp_morning = #{tempMorning}</otherwise>
        </choose>
        <if test="tempAfternoon != null  and tempAfternoon != ''"> and temp_afternoon = #{tempAfternoon}</if>
        <if test="recordCough != null  and recordCough != ''"> and record_cough = #{recordCough}</if>
        <if test="referencesName != null  and referencesName != ''"> and references_name like concat('%', #{referencesName}, '%')</if>
        <if test="otherCough != null  and otherCough != ''"> and other_cough = #{otherCough}</if>
        <if test="otherName != null  and otherName != ''"> and other_name like concat('%', #{otherName}, '%')</if>
        <if test="otherSituation != null  and otherSituation != ''"> and other_situation = #{otherSituation}</if>
        <if test="outsideLife != null  and outsideLife != ''"> and outside_life = #{outsideLife}</if>
        <if test="outsideReason != null  and outsideReason != ''"> and outside_reason = #{outsideReason}</if>
        <if test="health != null ">and health = #{health}</if>
        <if test="fever != null">and fever = #{fever}</if>
        <if test="cough != null">and cough = #{cough}</if>
        <if test="weak != null">and weak = #{weak}</if>
    </select>

    <select id="jiaozhigong" parameterType="Record" resultMap="RecordResult">
        select record_id, record_number, record_date, temp_morning, temp_afternoon,
        record_cough, references_name, other_cough, other_name, other_situation,
        outside_life, outside_reason ,health, fever,cough,weak ,remark from sys_record r
        where r.record_number in (
        select u.login_name from sys_user u
        left join sys_user_role r on u.user_id = r.user_id
        where r.role_id = 102 and u.student = false
        <if test="dept.deptId != null and dept.deptId != 0">and u.dept_id = #{dept.deptId}</if>
        )
        <if test="recordNumber != null  and recordNumber != ''"> and record_number like concat('%', #{recordNumber}, '%')</if>
        <if test="recordDate != null "> and record_date = #{recordDate}</if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(r.record_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(r.record_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <choose>
            <when test="tempMorning == null  or tempMorning == '' "></when>
            <when test="tempMorning != null  and tempMorning == 1 ">and( temp_morning > 37.3 or temp_afternoon > 37.3)</when>
            <when test="tempMorning != null  and tempMorning == 0 ">and temp_morning &lt;= 37.3 and temp_afternoon &lt;= 37.3</when>
            <otherwise>and temp_morning = #{tempMorning}</otherwise>
        </choose>
        <if test="tempAfternoon != null  and tempAfternoon != ''"> and temp_afternoon = #{tempAfternoon}</if>
        <if test="recordCough != null  and recordCough != ''"> and record_cough = #{recordCough}</if>
        <if test="referencesName != null  and referencesName != ''"> and references_name like concat('%', #{referencesName}, '%')</if>
        <if test="otherCough != null  and otherCough != ''"> and other_cough = #{otherCough}</if>
        <if test="otherName != null  and otherName != ''"> and other_name like concat('%', #{otherName}, '%')</if>
        <if test="otherSituation != null  and otherSituation != ''"> and other_situation = #{otherSituation}</if>
        <if test="outsideLife != null  and outsideLife != ''"> and outside_life = #{outsideLife}</if>
        <if test="outsideReason != null  and outsideReason != ''"> and outside_reason = #{outsideReason}</if>
        <if test="health != null ">and health = #{health}</if>
        <if test="fever != null">and fever = #{fever}</if>
        <if test="cough != null">and cough = #{cough}</if>
        <if test="weak != null">and weak = #{weak}</if>
    </select>

    <select id="selectRecordById" parameterType="Long" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        where record_id = #{recordId}
    </select>
    
    <select id="selectRecordByDateAndId" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        where record_number = #{recordNumber} and record_date = #{recordDate}
    </select>
        
    <insert id="insertRecord" parameterType="Record" useGeneratedKeys="true" keyProperty="recordId">
        insert into sys_record(
            <if test="recordNumber != null  and recordNumber != ''">record_number,</if>
            <if test="recordDate != null ">record_date,</if>
            <if test="tempMorning != null  and tempMorning != ''">temp_morning,</if>
            <if test="tempAfternoon != null  and tempAfternoon != ''">temp_afternoon,</if>
            <if test="recordCough != null  and recordCough != ''">record_cough,</if>
            <if test="referencesName != null  and referencesName != ''">references_name,</if>
            <if test="otherCough != null  and otherCough != ''">other_cough,</if>
            <if test="otherName != null  and otherName != ''">other_name,</if>
            <if test="otherSituation != null  and otherSituation != ''">other_situation,</if>
            <if test="outsideLife != null  and outsideLife != ''">outside_life,</if>
            <if test="outsideReason != null  and outsideReason != ''">outside_reason,</if>
            <if test="health != null">health,</if>
            <if test="fever != null ">fever,</if>
            <if test="cough != null">cough,</if>
            <if test="weak != null">weak,</if>
            remark
        )values(
            <if test="recordNumber != null  and recordNumber != ''">#{recordNumber},</if>
            <if test="recordDate != null ">#{recordDate},</if>
            <if test="tempMorning != null  and tempMorning != ''">#{tempMorning},</if>
            <if test="tempAfternoon != null  and tempAfternoon != ''">#{tempAfternoon},</if>
            <if test="recordCough != null  and recordCough != ''">#{recordCough},</if>
            <if test="referencesName != null  and referencesName != ''">#{referencesName},</if>
            <if test="otherCough != null  and otherCough != ''">#{otherCough},</if>
            <if test="otherName != null  and otherName != ''">#{otherName},</if>
            <if test="otherSituation != null  and otherSituation != ''">#{otherSituation},</if>
            <if test="outsideLife != null  and outsideLife != ''">#{outsideLife},</if>
            <if test="outsideReason != null  and outsideReason != ''">#{outsideReason},</if>
            <if test="health != null ">#{health},</if>
            <if test="fever != null">#{fever},</if>
            <if test="cough != null">#{cough},</if>
            <if test="weak != null">#{weak},</if>
            #{remark}
        )
    </insert>

    <update id="updateRecord" parameterType="Record">
        update sys_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordNumber != null  and recordNumber != ''">record_number = #{recordNumber},</if>
            <if test="recordDate != null ">record_date = #{recordDate},</if>
            <if test="tempMorning != null  and tempMorning != ''">temp_morning = #{tempMorning},</if>
            <if test="tempAfternoon != null  and tempAfternoon != ''">temp_afternoon = #{tempAfternoon},</if>
            <if test="recordCough != null  and recordCough != ''">record_cough = #{recordCough},</if>
            <if test="referencesName != null  and referencesName != ''">references_name = #{referencesName},</if>
            <if test="otherCough != null  and otherCough != ''">other_cough = #{otherCough},</if>
            <if test="otherName != null  and otherName != ''">other_name = #{otherName},</if>
            <if test="otherSituation != null  and otherSituation != ''">other_situation = #{otherSituation},</if>
            <if test="outsideLife != null  and outsideLife != ''">outside_life = #{outsideLife},</if>
            <if test="outsideReason != null  and outsideReason != ''">outside_reason = #{outsideReason},</if>
            <if test="health != null">health = #{health},</if>
            <if test="fever != null">fever = #{fever},</if>
            <if test="cough != null">cough = #{cough},</if>
            <if test="weak != null">weak = #{weak},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteRecordById" parameterType="Long">
        delete from sys_record where record_id = #{recordId}
    </delete>

    <delete id="deleteRecordByIds" parameterType="String">
        delete from sys_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
    
</mapper>