<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gxuwz.project.system.user.mapper.UserMapper">

	<resultMap type="User" id="UserResult">
		<id     property="userId"       column="user_id"      />
		<result property="deptId"       column="dept_id"      />
		<result property="loginName"    column="login_name"   />
		<result property="userName"     column="user_name"    />
		<result property="email"        column="email"        />
		<result property="phonenumber"  column="phonenumber"  />
		<result property="sex"          column="sex"          />
		<result property="avatar"       column="avatar"       />
		<result property="password"     column="password"     />
		<result property="salt"         column="salt"         />
		<result property="status"       column="status"       />
		<result property="delFlag"      column="del_flag"     />
		<result property="loginIp"      column="login_ip"     />
		<result property="loginDate"    column="login_date"   />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateBy"     column="update_by"    />
		<result property="updateTime"   column="update_time"  />
		<result property="remark"       column="remark"       />

		<result property="student"   column="student"  />
		<result property="parentsName"       column="parents_name"       />
		<result property="parentsPhnu"   column="parents_phnu"  />
		<result property="province"       column="province"       />
		<result property="cityName"   column="city_name"  />
		<result property="county"       column="county"       />
		<result property="address"   column="address"  />
		<result property="graduates"       column="graduates"       />
		<result property="onJob"   column="on_job"  />
		<result property="workplace"       column="workplace"       />
		<result property="afterWuhan"   column="after_wuhan"  />
		<result property="contactWuhan"       column="contact_wuhan"       />
		<result property="gradeId"   column="grade_id"  />
		<result property="cardNu"       column="card_nu"       />
		<result property="collegeId"       column="college_id"       />
		<result property="zyName"       column="zy_name"       />
		<association property="dept"    column="dept_id" javaType="Dept" resultMap="deptResult" />
		<collection  property="roles"   javaType="java.util.List"        resultMap="RoleResult" />
	</resultMap>
	
	<resultMap id="deptResult" type="Dept">
		<id     property="deptId"   column="dept_id"     />
		<result property="parentId" column="parent_id"   />
		<result property="deptName" column="dept_name"   />
		<result property="orderNum" column="order_num"   />
		<result property="leader"   column="leader"   />
		<result property="status"   column="dept_status" />
	</resultMap>
	
	<resultMap id="RoleResult" type="Role">
		<id     property="roleId"       column="role_id"        />
		<result property="roleName"     column="role_name"      />
		<result property="roleKey"      column="role_key"       />
		<result property="roleSort"     column="role_sort"      />
		<result property="dataScope"    column="data_scope"     />
		<result property="status"       column="role_status"    />
	</resultMap>
	
	<resultMap type="User" id="UserResult1">
		<id     property="userId"       column="user_id"      />
		<result property="deptId"       column="dept_id"      />
		<result property="loginName"    column="login_name"   />
		<result property="userName"     column="user_name"    />
		<result property="email"        column="email"        />
		<result property="phonenumber"  column="phonenumber"  />
		<result property="sex"          column="sex"          />
		<result property="avatar"       column="avatar"       />
		<result property="password"     column="password"     />
		<result property="salt"         column="salt"         />
		<result property="status"       column="status"       />
		<result property="delFlag"      column="del_flag"     />
		<result property="loginIp"      column="login_ip"     />
		<result property="loginDate"    column="login_date"   />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateBy"     column="update_by"    />
		<result property="updateTime"   column="update_time"  />
		<result property="remark"       column="remark"       />
		
		<result property="student"   column="student"  />
		<result property="parentsName"       column="parents_name"       />
		<result property="parentsPhnu"   column="parents_phnu"  />
		<result property="province"       column="province"       />
		<result property="cityName"   column="city_name"  />
		<result property="county"       column="county"       />
		<result property="address"   column="address"  />
		<result property="graduates"       column="graduates"       />
		<result property="onJob"   column="on_job"  />
		<result property="workplace"       column="workplace"       />
		<result property="afterWuhan"   column="after_wuhan"  />
		<result property="contactWuhan"       column="contact_wuhan"       />
		<result property="gradeId"   column="grade_id"  />
		<result property="cardNu"       column="card_nu"       />
		<result property="collegeId"       column="college_id"       />
		<result property="zyName"       column="zy_name"       />
		<association property="dept"    column="dept_id"
		             javaType="Dept"
		             select="edu.gxuwz.project.system.dept.mapper.DeptMapper.selectDeptById" />
	</resultMap>
	
	<sql id="selectUserVo">
        select  u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.avatar, u.phonenumber, u.sex,
        		u.password, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_time, u.remark,
        		u.student, u.parents_name, u.parents_phnu, u.province, u.city_name,
				u.county, u.address, u.graduates, u.on_job, u.workplace, u.after_wuhan, u.contact_wuhan,
				u.grade_id, u.card_nu, u.zy_name, u.college_id, u.update_time,
       		    d.dept_id, d.parent_id, d.dept_name, d.order_num, d.leader, d.status as dept_status,
       		    r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status
		from sys_user u
			 left join sys_dept d on u.dept_id = d.dept_id
			 left join sys_user_role ur on u.user_id = ur.user_id
			 left join sys_role r on r.role_id = ur.role_id
    </sql>
	
	<select id="selectUserByLoginNameOther" parameterType="String" resultMap="UserResult1">
		<include refid="selectUserVo"/>
		where u.login_name = #{userName}
	</select>
	
	<select id="selectZy" parameterType="User" resultType="String">
		select
			distinct
			u.zy_name
		from
			sys_user u
		where
			u.student = 1 and u.zy_name is not null
		<if test="deptId != null and deptId != 100">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
		</if>
	</select>
	
	<select id="selectColleges" parameterType="User" resultType="String">
		select
		distinct
		u.college_id
		from
		sys_user u
		where
		u.student = 1 and u.college_id is not null
		<if test="deptId != null and deptId != 100">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
		</if>
		<if test="zyName != null and zyName != ''"> and u.zy_name = #{zyName}</if>
	</select>
	
	<select id="selectGrades" parameterType="User" resultType="String">
		select
			distinct
			u.grade_id
		from
			sys_user u
		where
		u.student = 1 and u.grade_id is not null
		<if test="deptId != null and deptId != 100">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
		</if>
		<if test="zyName != null and zyName != ''"> and u.zy_name = #{zyName}</if>
		<if test="collegeId != null and collegeId != ''"> and u.college_id = #{collegeId}</if>
	</select>
	
	<select id="selectUserList" parameterType="User" resultMap="UserResult">
		select u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.avatar, u.phonenumber,
		 u.password, u.sex, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by,
		 u.create_time, u.remark, u.student, u.parents_name, u.parents_phnu, u.province, u.city_name,
		 u.county, u.address, u.graduates, u.on_job, u.workplace, u.after_wuhan, u.contact_wuhan,
		 u.grade_id, u.card_nu, u.zy_name, u.college_id,
		 d.dept_name, d.leader from sys_user u
		left join sys_dept d on u.dept_id = d.dept_id
		where u.del_flag = '0'
		<if test="loginName != null and loginName != ''">
			AND u.login_name like concat('%', #{loginName}, '%')
		</if>
		<if test="status != null and status != ''">
			AND u.status = #{status}
		</if>
		<if test="student != null">
			AND u.student = #{student}
		</if>
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="phonenumber != null and phonenumber != ''">
			AND u.phonenumber like concat('%', #{phonenumber}, '%')
		</if>
		<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
		</if>
		<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
		</if>
		<if test="deptId != null and deptId != 100">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>

	<select id="weitianbao" parameterType="User" resultMap="UserResult1">
		select u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.avatar, u.phonenumber,
		u.password, u.sex, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by,
		u.create_time, u.remark, u.student, u.parents_name, u.parents_phnu, u.province, u.city_name,
		u.county, u.address, u.graduates, u.on_job, u.workplace, u.after_wuhan, u.contact_wuhan,
		u.grade_id, u.card_nu, u.zy_name, u.college_id from sys_user u
		where 1=1
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="student != null">
			AND u.student = #{student}
		</if>
		<if test="deptId != null  and deptId != 100">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
		</if>
		and u.login_name not in
		(
		SELECT record_number FROM sys_record WHERE 1=1
		<if test="params.beginTime != null and params.beginTime != ''"><!-- 时间检索 -->
			AND date_format(record_date,'%y%m%d') = date_format(#{params.beginTime},'%y%m%d')
		</if>
		)
	</select>

	<select id="xuesheng" parameterType="User" resultMap="UserResult1">
		select u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.avatar, u.phonenumber,
		u.password, u.sex, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by,
		u.create_time, u.remark, u.student, u.parents_name, u.parents_phnu, u.province, u.city_name,
		u.county, u.address, u.graduates, u.on_job, u.workplace, u.after_wuhan, u.contact_wuhan,
		u.grade_id, u.card_nu, u.zy_name, u.college_id from sys_user u
		left join sys_user_role r on u.user_id = r.user_id
		where r.role_id = 100
		<if test="deptId != null and deptId != 100">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
		</if>
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
	</select>

	<select id="jiaozhigong" parameterType="User" resultMap="UserResult1">
		select u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.avatar, u.phonenumber,
		u.password, u.sex, u.salt, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by,
		u.create_time, u.remark, u.student, u.parents_name, u.parents_phnu, u.province, u.city_name,
		u.county, u.address, u.graduates, u.on_job, u.workplace, u.after_wuhan, u.contact_wuhan,
		u.grade_id, u.card_nu, u.zy_name, u.college_id,
		d.dept_name, d.leader from sys_user u
		left join sys_dept d on u.dept_id = d.dept_id
		left join sys_user_role r on u.user_id = r.user_id
		where r.role_id = 101 or r.role_id = 102
		<if test="deptId != null and deptId != 100">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE FIND_IN_SET (#{deptId},ancestors) ))
		</if>
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
	</select>
	
	<select id="selectAllocatedList" parameterType="User" resultMap="UserResult">
	    select distinct u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.avatar, u.phonenumber, u.status, u.create_time
	    from sys_user u
			 left join sys_dept d on u.dept_id = d.dept_id
			 left join sys_user_role ur on u.user_id = ur.user_id
			 left join sys_role r on r.role_id = ur.role_id
	    where u.del_flag = '0' and r.role_id = #{roleId}
	    <if test="loginName != null and loginName != ''">
			AND u.login_name like concat('%', #{loginName}, '%')
		</if>
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="phonenumber != null and phonenumber != ''">
			AND u.phonenumber like concat('%', #{phonenumber}, '%')
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>
	
	<select id="selectUnallocatedList" parameterType="User" resultMap="UserResult">
	    select distinct u.user_id, u.dept_id, u.login_name, u.user_name, u.email, u.avatar, u.phonenumber, u.status, u.create_time
	    from sys_user u
			 left join sys_dept d on u.dept_id = d.dept_id
			 left join sys_user_role ur on u.user_id = ur.user_id
			 left join sys_role r on r.role_id = ur.role_id
	    where u.del_flag = '0' and (r.role_id != #{roleId} or r.role_id IS NULL)
	    and u.user_id not in (select u.user_id from sys_user u inner join sys_user_role ur on u.user_id = ur.user_id and ur.role_id = #{roleId})
	    <if test="loginName != null and loginName != ''">
			AND u.login_name like concat('%', #{loginName}, '%')
		</if>
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="phonenumber != null and phonenumber != ''">
			AND u.phonenumber like concat('%', #{phonenumber}, '%')
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>
	
	<select id="selectUserByLoginName" parameterType="String" resultMap="UserResult">
	    <include refid="selectUserVo"/>
		where u.login_name = #{userName}
	</select>
	
	<select id="selectUserByPhoneNumber" parameterType="String" resultMap="UserResult">
		<include refid="selectUserVo"/>
		where u.phonenumber = #{phonenumber}
	</select>
	
	<select id="selectUserByEmail" parameterType="String" resultMap="UserResult">
	    <include refid="selectUserVo"/>
		where u.email = #{email}
	</select>
	
	<select id="checkLoginNameUnique" parameterType="String" resultType="int">
		select count(1) from sys_user where login_name=#{loginName}
	</select>
	
	<select id="checkPhoneUnique" parameterType="String" resultMap="UserResult">
		select user_id, phonenumber from sys_user where phonenumber=#{phonenumber}
	</select>
	
	<select id="checkEmailUnique" parameterType="String" resultMap="UserResult">
		select user_id, email from sys_user where email=#{email}
	</select>
	
	<select id="selectUserById" parameterType="Long" resultMap="UserResult">
		<include refid="selectUserVo"/>
		where u.user_id = #{userId}
	</select>
	
	
	<select id="selectEmailByDeptIdAndStudent" parameterType="Long" resultType="String">
	SELECT
		DISTINCT
		a.email
	FROM
		(SELECT s_u.dept_id, s_u.user_id, s_u.email FRom sys_user s_u where s_u.dept_id = #{deptId} and s_u.student = 0) a, sys_user_role s_u_r
	WHERE a.user_id = s_u_r.user_id and s_u_r.role_id in (103,104,105)
	</select>
	
	<delete id="deleteUserById" parameterType="Long">
 		delete from sys_user where user_id = #{userId}
 	</delete>
 	
 	<delete id="deleteUserByIds" parameterType="Long">
 		delete from sys_user where user_id in
 		<foreach collection="array" item="userId" open="(" separator="," close=")">
 			#{userId}
        </foreach> 
 	</delete>
 	
 	<update id="updateUser" parameterType="User">
 		update sys_user
 		<set>
 			<if test="deptId != null and deptId != 0">dept_id = #{deptId},</if>
 			<if test="loginName != null and loginName != ''">login_name = #{loginName},</if>
 			<if test="userName != null and userName != ''">user_name = #{userName},</if>
 			<if test="email != null and email != ''">email = #{email},</if>
 			<if test="phonenumber != null and phonenumber != ''">phonenumber = #{phonenumber},</if>
 			<if test="sex != null and sex != ''">sex = #{sex},</if>
 			<if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
 			<if test="password != null and password != ''">password = #{password},</if>
 			<if test="salt != null and salt != ''">salt = #{salt},</if>
 			<if test="status != null and status != ''">status = #{status},</if>
 			<if test="loginIp != null and loginIp != ''">login_ip = #{loginIp},</if>
 			<if test="loginDate != null">login_date = #{loginDate},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			<if test="remark != null">remark = #{remark},</if>
 			<if test="student != null">student = #{student},</if>
			<if test="parentsName != null">parents_name = #{parentsName},</if>
			<if test="parentsPhnu != null">parents_phnu = #{parentsPhnu},</if>
			<if test="province != null">province = #{province},</if>
			<if test="cityName != null">city_name = #{cityName},</if>
			<if test="county != null">county = #{county},</if>
			<if test="address != null">address = #{address},</if>
			<if test="graduates != null">graduates = #{graduates},</if>
			<if test="onJob != null">on_job = #{onJob},</if>
			<if test="workplace != null">workplace = #{workplace},</if>
			<if test="afterWuhan != null">after_wuhan = #{afterWuhan},</if>
			<if test="contactWuhan != null">contact_wuhan = #{contactWuhan},</if>
			<if test="gradeId != null">grade_id = #{gradeId},</if>
		    <if test="cardNu != null and cardNu != ''">card_nu = #{cardNu},</if>
		    <if test="collegeId != null and collegeId != ''">college_id = #{collegeId},</if>
		    <if test="zyName != null and zyName != ''">zy_name = #{zyName},</if>
 			update_time = sysdate()
 		</set>
 		where user_id = #{userId}
	</update>
 	
 	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
 		insert into sys_user(
 			<if test="userId != null and userId != 0">user_id,</if>
 			<if test="deptId != null and deptId != 0">dept_id,</if>
 			<if test="loginName != null and loginName != ''">login_name,</if>
 			<if test="userName != null and userName != ''">user_name,</if>
 			<if test="email != null and email != ''">email,</if>
 			<if test="avatar != null and avatar != ''">avatar,</if>
 			<if test="phonenumber != null and phonenumber != ''">phonenumber,</if>
 			<if test="sex != null and sex != ''">sex,</if>
 			<if test="password != null and password != ''">password,</if>
 			<if test="salt != null and salt != ''">salt,</if>
 			<if test="status != null and status != ''">status,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			<if test="remark != null and remark != ''">remark,</if>
			<if test="student != null">student,</if>
			<if test="parentsName != null">parents_name,</if>
			<if test="parentsPhnu != null">parents_phnu,</if>
			<if test="province != null">province,</if>
			<if test="cityName != null">city_name,</if>
			<if test="county != null">county,</if>
			<if test="address != null">address,</if>
			<if test="graduates != null">graduates,</if>
			<if test="onJob != null">on_job,</if>
			<if test="workplace != null">workplace,</if>
			<if test="afterWuhan != null">after_wuhan,</if>
			<if test="contactWuhan != null">contact_wuhan,</if>
			<if test="gradeId != null">grade_id,</if>
	   		 <if test="cardNu != null and cardNu != ''">card_nu,</if>
	    	<if test="collegeId != null and collegeId != ''">college_id ,</if>
	    	<if test="zyName != null and zyName != ''">zy_name ,</if>
 			create_time
 		)values(
 			<if test="userId != null and userId != ''">#{userId},</if>
 			<if test="deptId != null and deptId != ''">#{deptId},</if>
 			<if test="loginName != null and loginName != ''">#{loginName},</if>
 			<if test="userName != null and userName != ''">#{userName},</if>
 			<if test="email != null and email != ''">#{email},</if>
 			<if test="avatar != null and avatar != ''">#{avatar},</if>
 			<if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>
 			<if test="sex != null and sex != ''">#{sex},</if>
 			<if test="password != null and password != ''">#{password},</if>
 			<if test="salt != null and salt != ''">#{salt},</if>
 			<if test="status != null and status != ''">#{status},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
			<if test="student != null">#{student},</if>
			<if test="parentsName != null">#{parentsName},</if>
			<if test="parentsPhnu != null">#{parentsPhnu},</if>
			<if test="province != null">#{province},</if>
			<if test="cityName != null">#{cityName},</if>
			<if test="county != null">#{county},</if>
			<if test="address != null">#{address},</if>
			<if test="graduates != null">#{graduates},</if>
			<if test="onJob != null">#{onJob},</if>
			<if test="workplace != null">#{workplace},</if>
			<if test="afterWuhan != null">#{afterWuhan},</if>
			<if test="contactWuhan != null">#{contactWuhan},</if>
			<if test="gradeId != null">#{gradeId},</if>
	    	<if test="cardNu != null and cardNu != ''">#{cardNu},</if>
	    	<if test="collegeId != null and collegeId != ''">#{collegeId},</if>
	   		 <if test="zyName != null and zyName != ''">#{zyName},</if>
 			sysdate()
 		)
	</insert>
	
</mapper> 